extends ../../public/layout

block title
    title APM

block content
    style
        include ./index.css

    h1 APM General Information
    
    .general-info
        .info
            p APM ID: #{payload.apm.apmid}
            p Printer Name: #{payload.apm.printername}
            p Status: #{payload.apm.status}
            p Owned by: #[a(href=`/account/${payload.apm.owned_by}` target="_blank") #{payload.apm.owned_by}]
            br
            button.btn.btn-danger(onclick='toggleUpdatePaper()') Update Paper Amount
        #carouselExampleCaptions.carousel.slide(style="width:25%")
            .carousel-indicators
                button.active(type="button", data-bs-target="#carouselExampleCaptions", data-bs-slide-to="0", aria-current="true", aria-label="Slide 1")
                button(type="button", data-bs-target="#carouselExampleCaptions", data-bs-slide-to="1", aria-label="Slide 2")
            .carousel-inner
                .carousel-item.active
                    img.d-block.w-100(src=payload.apm.pictureurl alt="...")
                    .carousel-caption.d-none.d-md-block
                        h5 APM Picture 1
                        p APM Picture 1.
                .carousel-item
                    img.d-block.w-100(src=payload.apm.picture_url_2 alt="...")
                    .carousel-caption.d-none.d-md-block
                        h5 APM Picture 2
                        p APM Picture 2.
                button.carousel-control-prev(type="button", data-bs-target="#carouselExampleCaptions", data-bs-slide="prev")
                    span.carousel-control-prev-icon(aria-hidden="true")
                    span.visually-hidden Previous
                button.carousel-control-next(type="button", data-bs-target="#carouselExampleCaptions", data-bs-slide="next")
                    span.carousel-control-next-icon(aria-hidden="true")
                    span.visually-hidden Next

    hr

    h1 APM Details
    p Printer Type: #{payload.apmDetail.type}
    p Supports Black and White Printing: #{payload.apmDetail.bwprint}
    p Supports Color Printing: #{payload.apmDetail.colorprint}
    p Supports Duplex Printing: #{payload.apmDetail.bothsideprint}
    p Supported Layout: #{payload.apmDetail.layout}

    hr

    h1 APM Address
    p Address Line 1: #{payload.apmAddress.address1}
    p Address Line 2: #{payload.apmAddress.address2}
    p City: #{payload.apmAddress.city}
    p State: #{payload.apmAddress.state}
    p Latitude: #{payload.apmAddress.lat}
    p Longitude: #{payload.apmAddress.lng}

    hr

    h1 APM Costs
    p Single Black and White : RM #{payload.apmCost.black_white_single}
    p Duplex Black and White : RM #{payload.apmCost.black_white_both}
    p Single Color : RM #{payload.apmCost.color_single}
    p Duplex Color : RM #{payload.apmCost.color_both}
    p Service Fee : RM #{payload.apmCost.service_fee}

    hr

    h1 Operating Hours
    p Monday: #{payload.operatingHours.monday}
    p Tuesday: #{payload.operatingHours.tuesday}
    p Wednesday: #{payload.operatingHours.wednesday}
    p Thursday: #{payload.operatingHours.thursday}
    p Friday: #{payload.operatingHours.friday}
    p Saturday: #{payload.operatingHours.saturday}
    p Sunday: #{payload.operatingHours.sunday}
    
    script.
        function toggleUpdatePaper() {
            const apmid = window.location.href.split('http://localhost:3000/apm/detail/')[1]
            window.location.href = '/apm/updatepaper/' + apmid;
        }

    
        
    
    
    
    
