extends ../public/layout

block title
    title APM

block content
    h1 Automated Printing Machines (APMs)
    hr

    button.btn.btn-primary(type="button" onclick='gotoAdd()').ms-auto.me-auto Add new APM
    table.table
        thead
            tr
            th(scope='col') No
            th(scope='col') APM ID
            th(scope='col') Name
            th(scope='col') Status
            
        tbody

            each apm, index in payload
                
                tr(onclick='changeWindow("' + apm.apmid + '")')
                    th(scope='row') #{index}
                    td #{apm.apmid}
                    td #{apm.printername}
                    td #{apm.status}

    
    script.
        function changeWindow(apmid) {
            window.location.href=`/apm/detail/${apmid}`
        }

        function gotoAdd() {
            window.location.href='/apm/add'
        }

        

