extends ../../public/layout

block title 
    title Order



block content
    h1 Order details 
    p Order ID: #{payload.order.orderId}
    p Account ID: #[a(href=`/account/${payload.order.accountId}` target="_blank") #{payload.order.accountId}]
    p File ID:  #[a(href=`/file/${payload.order.fileId}` target="_blank") #{payload.order.fileId}]
    p APM ID: #{payload.order.apmId}
    p Cost: RM #{payload.order.cost}
    p Date: #{payload.order.date.toString()}
    p Rating: #{payload.order.rating} / 5
    p Status: #{payload.order.status}
    p Status Reason : #{payload.order.statusReason}
    p Has paid: #{payload.order.hasPaid}
    p Target APM (Future version) : #{payload.order.targetApm}

    hr

    h1 Order settings
    p Layout: #{payload.settings.layout}
    p Color: #{payload.settings.color}
    p Side: #{payload.settings.side}
    p Page per sheet: #{payload.settings.pagepersheet}
    p Copies: #{payload.settings.copies}
    p Pages: #{payload.settings.pages}

