extends ../../public/layout

block title 
    title Order

block content
    h1 Order details 
    p Order ID : #{payload.order.orderId}
    p APM ID: #{payload.order.apmId}
    p Cost: RM #{payload.order.cost}
    p Date: #{payload.order.date.toString()}
    p Rating: #{payload.order.rating} / 5
    p Status: #{payload.order.status}
    p Status Reason : #{payload.order.statusReason}
    p Has paid: #{payload.order.hasPaid}
    p Target APM (Future version) : #{payload.order.targetApm}

    hr

    h1 File details
    p Filename: #{payload.file.filename}
    p Page count: #{payload.file.pagecount}
    p File URL: #[a(href=payload.file.fileurl target="_blank") #{payload.file.fileurl}]

    hr

    h1 Profile details
    p Account ID: #{payload.account.accountId}
    p Email: #[a(href="mailto: " + payload.account.email) #{payload.account.email}] 
    p Phone: #{payload.account.phone}
    p Profile Picture: #{payload.account.profilepic}
    p Account status: #{payload.account.status}

